<% form_for @in_attachment do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :in_message_id %><br />
    <%= f.text_field :in_message_id %>
  </p>
  <p>
    <%= f.label :asset_id %><br />
    <%= f.text_field :asset_id %>
  </p>
  <p>
    <%= f.label :local_path_prefix %><br />
    <%= f.text_field :local_path_prefix %>
  </p>
  <p>
    <%= f.label :relative_path %><br />
    <%= f.text_field :relative_path %>
  </p>
  <p><%= f.submit %></p>
<% end %>
