<% title "In Message" %>

<p>
  <strong>Uid:</strong>
  <%=h @in_message.uid %>
</p>
<p>
  <strong>Sender:</strong>
  <%=h @in_message.sender_id %>
</p>
<p>
  <strong>Sent At:</strong>
  <%=h @in_message.sent_at %>
</p>
<p>
  <strong>Confirmed At:</strong>
  <%=h @in_message.confirmed_at %>
</p>
<p>
  <strong>Hex Cipher Key:</strong>
  <%=h @in_message.hex_cipher_key %>
</p>
<p>
  <strong>Hex Cipher Iv:</strong>
  <%=h @in_message.hex_cipher_iv %>
</p>
<p>
  <strong>Head Asset:</strong>
  <%=h @in_message.head_asset_id %>
</p>
<p>
  <strong>Body Asset:</strong>
  <%=h @in_message.body_asset_id %>
</p>
<p>
  <strong>Subject:</strong>
  <%=h @in_message.subject %>
</p>
<p>
  <strong>Content:</strong>
  <%=h @in_message.content %>
</p>

<p>
  <%= link_to "Edit", edit_in_message_path(@in_message) %> |
  <%= link_to "Destroy", @in_message, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", in_messages_path %>
</p>
